*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.calc{
    padding: 5px;
    border: 2px solid whitesmoke;
    margin-top: 300px;
    background-color: #7B68EE;
     padding: 5px;
}
.calc_input{
    width: 100%; 
       
    height: 50px;
    border: none;
    margin-right: auto;
    overflow-x: scroll;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
}
.calc-memory__component{
    
    width: 100%;
    height: 20px;
    margin-left:0;
    background-color: yellow;
}
.calc-memory{
    justify-content: none;
    display: flex;
    flex-direction: row;
    
}
.calc-numbers{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    
    
}
.calc-numbers__num{
    background-color: darkgrey;
}
button{
    width: 50px;
    height: 50px;
}
